@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
}
:root {
    font-size: 18px;

    /* COLOR VARIABLES */
    --primary:hsl(171, 66%, 44%);
    --primary2:hsl(233, 100%, 69%);
    --neutral:hsl(210, 10%, 33%);
    --neutral2:hsl(201, 11%, 66%);
}
body {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(../clipboard-landing-page-master/images/bg-header-desktop.png);
    background-repeat: no-repeat;
}
/* BUTTONS */
.button-container {
    display: flex;
}
.button-container :nth-child(2) {
    margin-left: 1rem;
    margin-bottom: 10rem;
}
.buttons {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    background-color: var(--primary);
    border-radius: 3rem;
   
}
.buttons2 {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    background-color: var(--primary2);
    border-radius: 3rem;
}
/* HEADER */
header > img {
    display: block;
    margin: 8rem auto 3rem auto;
    
}
header > h1 {
    text-align: center;
    font-size: 3rem;
}
header > p {
    text-align: center;
    margin-bottom: 3.5rem;
}
.button-container {
    display: flex;
    justify-content: center;
}
/* SECTIONS */
.heading, .heading-text{
    text-align: center;
    max-width: 700px;
}
.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.heading-text {
    margin-bottom: 4.5rem;
}
.section1 {
    display: flex;
    margin-bottom: 8rem;
}
.section1 > img {
    position: relative;
    left: -2.5rem;
    width: 55%;
    height: 55%;
}
.section-flex {
    display: flex;

    margin-left: 3rem;
    flex-direction: column;
    height: 50%;
}
.section-flex > h3 {
    margin-bottom: .4rem;
    font-size: 1.2rem;
}
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.section2 > img {
    width: 65%;
    height: 65%;
}
/* GRIDS */
.grid-icon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto 12rem auto;
    gap: 1.5rem;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}
.grid-logo-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 85%;
    margin: 10rem auto 10rem auto;
    gap: 2rem;
    
}
.grid-logo-list > img {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.grid-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FONTS */
.heading, h3 {
    color: var(--neutral);
    font-weight: 600;
}
.first-heading {
    font-size: 2.5rem;
   
    max-width: 750px;
    margin-bottom: 1.5rem;
}
.first-heading-text {
    max-width: 720px;
    font-size: 1.1rem;
}
h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.section-flex > p {
    max-width: 380px;
    line-height: 2;
    font-size: 1rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-text {
    max-width: 400px;
    max-height: 57px;
    text-align: center;
    color: var(--neutral2);
    line-height: 1.5;
}
/* FOOTER */
footer {
    width: 100%;
    background-color: rgba(159, 171, 178, 0.1) ;
    height: 7rem;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}
.flex-container > img {
    width: 40px;
    height: 40px;
    margin-left: 6rem;
}
.botmargin {
    margin-bottom: 7.5rem;
}
li {
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--neutral);
}
nav {
    margin-right: auto;
    width: 450px;
    margin-left: 6rem;
}
.social-icons {
   margin-right: 4rem;
   

}
.social-icons > img {
    margin-left: 1rem;
}
nav > ul:first-child {
   display:flex;
   margin-bottom: 1rem;
   justify-content: space-between;
}
nav > ul:nth-child(2) {
    display:flex;
}
nav > ul:nth-child(2) > li:nth-child(2) {
    margin-left: 3rem;
}
nav > ul:first-child> li:nth-child(2) {
    margin-left: 6rem;
}
nav > ul:first-child> li:nth-child(3) {
    margin-left: auto;
}
@media only screen and (max-width: 960px) {
.heading-text {
    width: 90%;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-flex > h3, p {
   text-align: center;

}
.section-flex{
    margin: 0 auto;
    width: 85%;
}
.section1 > img {
    width: 90% ;
    position: unset;
    margin-bottom: 3rem;
}
.section2 > img {
    width: 90% ;
}
.button-container {
    display: flex;
    flex-direction: column;
}
.button-container > p:first-child {
    margin-bottom: 4rem;
}
/* GRID MOBILE VIEW */
.grid-icon-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto 9rem auto;
    gap: 3rem;
}
.grid-logo-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
    margin: 10rem auto 10rem auto;
    gap: 4rem;
    

}
.buttons {
    text-decoration: none;
    color: white;
    padding: 20px 70px;
    background-color: var(--primary);
    border-radius: 3rem;
   
}
.buttons2 {
    text-decoration: none;
    color: white;
    padding: 20px 70px;
    background-color: var(--primary2);
    border-radius: 3rem;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;

}
.button-container :nth-child(2) {
    margin-bottom: 10rem;
    margin-left: unset;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
    flex-direction: column;
    margin: unset
}
ul > li {
    display: flex;
    flex-direction: column;
    margin: unset
}
nav > ul:first-child {
    display:flex;
    margin-bottom: unset;
    justify-content: space-between;
 }
 nav > ul:nth-child(2) {
     display: unset;
 }
 nav > ul:nth-child(2) > li:nth-child(2) {
     margin-left: unset;
 }
 nav > ul:first-child> li:nth-child(2) {
     margin-left: unset;
 }
 nav > ul:first-child> li:nth-child(3) {
     margin-left: unset;
 }
 li {
     width: 100%;
     text-align: center;

 }
 nav {
     width: unset;
     margin: 0 auto;
 }
 footer {
     height: 22rem;
 }
 .flex-container > img:first-child {
     margin: 2rem auto;
 }
 .social-icons {
     margin: 1rem auto 4rem auto;
 }
 ul {
     margin: 0 auto;
 }
 a {
     margin-bottom: 1rem;
 }
}